.btn-purple{
    all: unset;
    width: 100%;
    background: #7978D9;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding:15px 0px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 6px black;
    transition: 0.4s ease-in;
}