.container-Modal {
    background-color: rgba(56, 54, 54, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-modal-sacar{
    background-color: white;
    box-shadow: 1px 1px 10px black;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.h1-saque{
    box-shadow: 1px 2px 2px black;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 85%;
    padding: 5px 0px;
    background-color: rgb(25,27,43);
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.label-input-transacoes{
    all: unset;
    box-shadow: 1px 1px 5px black;
    width: 100%;
    padding: 5px 10px;
}

.width-70{
    width: 70%;
}

.btn-transacoes{
    width: 70%;
    margin-bottom: 18px;
}

.opcoes{
    background-color: white;
    width: 30%;
    padding: 25px 40px;
    box-shadow: 1px 1px 5px black;
    margin-left: 15px;
}

.opcoes li{
    margin-bottom: 10px;
}